*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    padding: 0 50px;
    width: 100%;
}

.left img{
    width: 220px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-one{
    background: linear-gradient(90deg, darkmagenta, #861f41, darkmagenta);
    color: white;
    height: 80px;
    cursor: pointer;
}

.navbar-two{
    background-color: rgb(238, 238, 238);
    height: 70px;
}

.first li{
    list-style: none;
}

.first a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 30px;
    color: white;
    font-weight: 400;
}

.second li{
    list-style: none;
}

.second a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    align-items: flex-end;
    margin-left: 30px;
    color: black;
    font-weight: 400;
}

.but a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 30px;
    color: black;
    align-items: flex-end;
    font-weight: 400;
}

.but a{
    color: #861f41;
}

.btn{
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #861f41;
    transition: all 0.2s ease;
}
.btn:active{
    transform: scale(0.96);
}
body-f{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.contact-form{
    background: linear-gradient(90deg, darkmagenta, #861f41, darkmagenta);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}
h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    color: white;
}
.col-md-6{
    margin-bottom: 20px;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    box-sizing: border-box;
    resize: vertical;
}
button{
    display: block;
    margin: auto;
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 80px;
    border-radius: 5px;
    font-family: 17px;
}







